.simpleForm {
    display: flex;
    justify-content: space-between;

    input, button {
        height: 27px;
        margin: 0;
        padding: 2px 7px;
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 4px;
        box-sizing: border-box;
        font: 13px / 21px 'Open Sans', sans-serif;
        color: rgba(0, 0, 0, 0.7);
    }

    input {
        width: 230px;
        background: rgba(249, 255, 112, 0.2);
    }

    button {
        width: 51px;
        background: rgba(1, 151, 246, 0.2);
    }
}
