@use '../../styles/DefaultVars.scss' as defaultVars;

.exampleWorker-parent-simpleForm {
    width: 300px;
    margin: 0 auto;

    .exampleWorker-wrapper-simpleForm {
        padding-bottom: 17px;
        border-bottom: 1px solid defaultVars.$coralThemFifthColor;

        .exampleWorker-error {
            p {
                margin-bottom: 0;
                padding: 15px 0 0;
                text-align: center;
                text-indent: 0;
                font-size: 12px;
                line-height: 17px;
                color: defaultVars.$coralThemEighthColor;
            }
        }
    }

    .exampleWorker-parent-result{
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 0 auto;

        > div {
            padding: 16px 0 0;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;

            p {
                padding: 0;
                margin: 0;
                font-size: 12px;
                line-height: 17px;
                color: defaultVars.$coralThemFifthColor;
                text-indent: 0;
            }
        }
    }

    .exampleWorker-parent-loading {
        p {
            text-align: center;
            font-size: 12px;
            line-height: 17px;
            color: defaultVars.$coralThemNinthColor;
        }
    }
}
