@use '../../../styles/DefaultVars.scss' as defaultVars;

.simpleForm {
    display: flex;
    justify-content: space-between;

    input, button {
        height: 27px;
        margin: 0;
        padding: 2px 7px;
        outline: none;
        border: 1px solid defaultVars.$coralThemFifthColor;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 21px;
        color: defaultVars.$coralThemFourthColor;
    }

    input {
        width: 230px;
        background: defaultVars.$coralThemSixthColor;
    }

    button {
        width: 51px;
        background: defaultVars.$coralThemSeventhColor;
    }
}
